* {
    font-family: "Lucida Sans Unicode", sans-serif;
}

blockquote {
    padding: 5px;
    background-color: #cccccc;
    font-family: "Courier", Courier, monospace;
}

code {
    font-family: "Courier", Courier, monospace;
}
